/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";



// added via yo m-ionic:component subgenerator
@import '../components/mini/mini-component';

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.bar.bar-header {
    background: #0173f8;
    color: #fff;
}
.pane {
    background-color: #f7f7ff;
}
.bar-positive .button.button-clear {
    padding: 0px 20px 0 10px;
    line-height: normal;
    font-size: 14px;
    border-radius: 50px;
    border: 2px solid #fff;
    i.icon:before {
        font-size: 20px;
        line-height: 20px;
    }
    span {
        vertical-align: middle;
        text-transform: uppercase;
    }
}
.signin {
    background: #0173f8;
    .list{
        margin: 0 20px;
        .item {
            background: none;
            border: none;
            img {
                width: 70%;
                margin: 40px auto 30px auto;
                display: block;
            }
            input[type="text"], input[type="password"] {
                background: url(../assets/images/ic_user_profile_2.png) no-repeat left center;
                border: none;
                border-bottom: 1px solid #fff;
                color: #fff;
                height: auto;
                line-height: normal;
                width: 100%;
                padding: 15px 15px 15px 40px;
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
            }
            input[type="password"] {
                background-image: url(../assets/images/ic_user_password_2.png);
                margin-bottom: 40px;
            }
            input::-webkit-input-placeholder {
                color: #fff;
            }
            input:-ms-input-placeholder {
                color: #fff;
            }
            input::-moz-placeholder {
                color: #fff;
                opacity: 1;
            }
            input:-moz-placeholder {
                color: #fff;
                opacity: 1;
            }
            .sign-btn {
                background: none;
                border: 2px solid #fff;
                border-radius: 50px;
                padding: 10px 20px;
                color: #fff;
                text-transform: uppercase;
                font-weight: 600;
                width: 240px;
                margin: 0 auto;
                display: block;
                font-size: 14px;
            }
            .account-btn {
                background: #fff;
                border: 2px solid #fff;
                border-radius: 50px;
                padding: 10px 20px;
                color: #0173f8;
                text-transform: uppercase;
                font-weight: 600;
                width: 240px;
                margin: 0 auto;
                display: block;
                font-size: 14px;
            }
            .forgot-btn {
                background: none;
                border: none;
                color: #fff;
                text-transform: uppercase;
                font-weight: 600;
                width: 260px;
                margin: 0 auto;
                display: block;
                font-size: 14px;
            }
        }
    }
    .facebook-login {
        background: #3b5999;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 15px 0;
        text-align: center;
        img {
            vertical-align: middle;
            margin-right: 10px;
        }
        span {
            vertical-align: middle;
            color: #fff;
            font-weight: 700;
        }
    }
}
.signup {
    .list {
        .item {
            background: none;
            border: none;
            padding: 0;
            h3 {                
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                white-space: normal;
                margin: 10px 0 20px 0;
                text-transform: uppercase;
                font-size: 16px;
            }
            .photo-box {
                .change-photo {
                    position: relative;
                    width: 120px;
                    margin: 30px auto 0 auto;
                    span {
                        border-radius: 50%;
                        display: block;
                        width: 120px;
                        overflow: hidden;
                        height: 120px;
                        margin: 0 auto;
                        img {
                            width: 100%;
                        }
                    }
                    a {
                        background: #0173f8;
                        display: block;
                        position: absolute;
                        right: 0;
                        bottom: 0px;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        img {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                }
                p {
                    text-align: center;
                    font-weight: 700;
                    color: #0173f8;
                    margin: 20px 0 30px 0;
                    font-size: 20px;
                    line-height: normal;
                }
            }
            .user-form {
                background: #f7f7ff;
                padding: 30px;
                label {
                    font-weight: 700;
                    color: #383f52;
                    display: block;
                }
                input {
                    background: none;
                    border: none;
                    border-bottom: 2px solid #8990a3;
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
        .events-box {
            padding: 15px;
            h3 {
                margin-bottom: 10px;
            }
            h4 {
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                color: #77767b;
                font-size: 12px;
                margin-bottom: 20px;
            }
        }
    }
}
.profile-bottom {
    background: #e3e8fe;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    p {
        display: inline-block;
        font-weight: 700;
        color: #383f52;
        margin: 10px 0 0 0;
        font-size: 1em;
        text-transform: uppercase;
    }
    a {
        background: #0173f8;
        color: #fff;
        border-radius: 30px;
        display: block;
        float: right;
        padding: 10px 20px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
    }
}
.info-wrap {
    background: #f7f7ff;
    .list {
        .item {
            h1 {
                color: #0173f8;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 2.5em;
                margin: 20px 0 10px 0;
                white-space: normal;
                line-height: normal;
            }
            h2 {
                color: #9c9b9f;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                white-space: normal;
                font-size: 1.5em;
                margin: 0 0 20px 0;
                line-height: normal;
            }
            .info-box {
                padding-bottom:50px; 
                span {
                    background: #e3e8fe;
                    display: block;
                    overflow: hidden;
                    position: relative;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    margin:0 auto; 
                    img {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        width: 60%;
                    }
                }
                .selected:after {
                    background: rgba(1, 115, 248, 0.6) url(../assets/images/ic_saved.png) no-repeat center center;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    content: "";
                    pointer-events: none;
                }
                p {                   
                    color: #9c9b9f;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    margin: 10px 0;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
    }
}
.for-pas {
    .list {
        .item {
            h1 {
                background: url(../assets/images/ic_locked_lock.png) no-repeat right center;
                background-size: 16% auto;
            }
            .user-form{
                margin-top:3em;
                input[type="email"] {
                    border-color:#0173f8;
                }
                input[type="password"] {
                    border-color:#0173f8;
                    color: #0173f8;
                    font-family: 'Oswald', sans-serif;
                    font-size: 20px;
                    letter-spacing: 3px;
                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        color: #0173f8;
                      }
                      &::-moz-placeholder { /* Firefox 19+ */
                        color: #0173f8;
                      }
                      &:-ms-input-placeholder { /* IE 10+ */
                        color: #0173f8;
                      }
                      &:-moz-placeholder { /* Firefox 18- */
                        color: #0173f8;
                      }
                }
            }
        }
    }
}
.tabs { 
    background: none;
    height: auto;
    padding: 0;
    .tab-item {
        padding: 5px 0;
        opacity: 1;
        border: none !important;
        margin: 0 !important;
        span {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
        }
        .explore-icon {
            background: url(../assets/images/ic_explore.png) no-repeat center top;
            background-size:contain;
        }
        .articles-icon {
            background: url(../assets/images/ic_article.png) no-repeat center top;
            background-size:contain;
        }
        .alerts-icon {
            background: url(../assets/images/ic_alert.png) no-repeat center top;
            background-size:contain;
        }
        .profile-icon {
            background: url(../assets/images/ic_profile.png) no-repeat center top;
            background-size:contain;
        }
    }
    .tab-item-active {
        background: #e3e8fe;
    }
}
.has-tabs, .bar-footer.has-tabs {
    bottom: 57px;
}
.phone {
    .list {
        .item {
            h4 {
                color: #0173f8;
                font-size: 22px;
                font-weight: 400;
                font-family: 'Roboto', sans-serif;
                padding: 30px 0 10px 0;
            }
            select {
                background: none;
            }
            .user-form {
                padding:0;
                margin: 0; 
                input {
                    border-bottom-color:  #0173f8;
                    font-size: 18px;
                    font-family: 'Roboto', sans-serif;
                }
                button {
                    background: #0173f8;
                    border: none;
                    width: 100%;
                    padding: 10px 0;
                    margin-bottom: 20px;
                    border-radius: 4px;
                    color: #fff;
                    font-size: 18px;
                    font-family: 'Roboto', sans-serif;
                }
            }
            p {
                white-space:normal;
                font-size: 12px;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
}
.pro-list {
    .list {
        .item{
            h2 {
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
            }
            p{
                font-weight: 400;
                font-family: 'Roboto', sans-serif;
                white-space: normal;
            }
            a {
                float: right;
                color: #ef8ca0;
                font-size: 12px;
            }
            h3 {
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                white-space: normal;
                font-size: 18px;
                line-height: normal;
                color: #373f51;
            }
            h4 {
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                white-space: normal;
                font-size: 14px;
            }
        }
    }
    .item {
        padding-left: 110px;
        margin-bottom: 4px;
        border-top: none;
        border-color: #d4dcff;
        >img:first-child {
            max-width: 80px;
            max-height: 80px;
        }
    }
    .pro-banner {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,0061ca+100 */
        background: #000000; /* Old browsers */
        background: -moz-linear-gradient(left, #000000 0%, #0061ca 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #000000 0%,#0061ca 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #000000 0%,#0061ca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0061ca',GradientType=1 ); /* IE6-9 */

        position: relative;
        overflow: hidden;
        height: 200px;
        color: #fff;
        padding: 30px;
        margin-bottom: 4px;
        h2 {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            white-space: normal;
            font-size: 24px;
            color: #fff;
            margin: 0;
            float: left;
            span {
                display: block;
                font-size: 18px;
                color: #ccc;
            }
        }
        strong {
            display: block;
            font-size: 18px;
            position: absolute;
            font-weight: 400;
            left: 30px;
            bottom: 30px;
        }
        a {           
            display: block;
            position: absolute;
            right: 30px;
            top: 30px;
            width: 4em;
            text-align: center;
            img{
                width:100%;
            }
            span {
                display: block;
                color: #fff;
            }
        }
    }
}
.alerts-box {
    background:#fff;
    border:1px solid #ccc;
    padding: 30px;
    img {
        width: 24%;
        display: inline-block;
        vertical-align: middle;
    }
    span {
        width: 80%;
        display: inline-block;
        vertical-align: middle;
        color: #000;
        margin-left: 2%;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        white-space: normal;
    }
}
.setting-wrap {
    .list {
        .item{
            padding-left: 90px;
            >img {
                width: 40px;
                height: auto;
                left: 20px;
                top: 30px;
            }
            h2 {
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
                font-weight: 900;
                line-height: normal;
                margin: 0 0 14px 0;
            }
            p {
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
                line-height: normal;
                color: #000;
                &+a {
                    background:url(../assets/images/ic_warning.png) no-repeat left center;
                    background-size: 20px auto;
                    padding-left: 26px;
                    font-weight: 700;
                }
            }
            ul {
                float: right;
                margin: 10px -34px 0 0;
                li {
                    background: #f7f7ff;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    overflow: hidden;
                    img {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}
.profile-banner {
    background: #fff;
    padding: 20px;
    overflow: hidden;
    position: relative;
    span {
        width: 80px;
        height: 80px;
        overflow: hidden;
        position: relative;
        display: inline-block;
        img {
            border-radius: 50%;
            width: 100%;
        }
    }
    p {
        overflow: hidden;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        font-size: 16px;
        color: #000;
        strong {
            color: #0079fe;
        }
    }
    >div {
        margin-top: 10px;
        text-align: center;
            a {
                border: 2px solid #0079fe;
                display: inline-block;
                border-radius: 4px;
                text-transform: uppercase;
                width: 46%;
                margin: 0 5px;
                text-align: center;
                font-weight: 700;
                padding: 10px;
                text-decoration: none;
            }
            a:first-child {
                background:rgba(0, 121, 254, 0.1) url(../assets/images/ic_warning.png) no-repeat 10px center;
                background-size: 20px auto;
            }
    }
}
.checkbox-custom {
    opacity: 0;
    position: absolute;   
}
.checkbox-custom, .signup .list .item .user-form label.checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    color:#0173f8;
    font-weight: 400;
}
.checkbox-custom-label {
    position: relative;
    line-height: normal;
    strong {
        font-weight: 700;
    }
}
.checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background: none;
    border: 2px solid #0173f8;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
	border-radius:5px;
}
.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #0173f8;
    color: #fff;
}
.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #fff;
}
.checkbox-custom:focus + .checkbox-custom-labe {
  outline: 1px solid #ddd;
}
.myslides {
    padding: 15px 0;
    .swiper-container {
        .swiper-wrapper {
            position: relative;
            .swiper-slide {
                width: auto !important;
                button {
                    background: #fff;
                    border: none;
                    display: block;
                    padding: 12px 30px;
                    border-radius: 50px;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 700;
                    font-size: 12px;
                    color: #0173f8;
                    font-family: 'Roboto', sans-serif;
                }
            }
            .swiper-slide-active {
                button {
                    background: #ef8ca0;
                    color: #fff;
                }
            }
        }
    }
}
.bar-subheader {
    background: #0173f8;
    height: auto;
    padding: 0;
    button {
        min-height: auto;
        line-height: normal;
    }
}
.has-subheader {
    top: 111px;
}


.top-header {
    background: #0173f8;
    padding: 10px;
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    z-index: 999;
    span {
        background: url(../assets/images/ic_gps_arrow.png) no-repeat 6px center, url(../assets/images/ic_down_arrow.png) no-repeat 96% center;
        color: #fff;
        font-size: 14px;
        border: 1px solid #fff;
        padding: 6px 30px;
        border-radius: 20px;
        display: block;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-size: 16px auto, 16px auto;
    }
    ul {
        float: right;
        li {
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
            position: relative;
            img {
                width: 2.3em;
            }
            strong {
                position: absolute;
                left: 0;
                top: 11px;
                width: 100%;
                text-align: center;
            }
            img.a-img {
                display: none;
            }
        }
        .active {            
            color: #ef8ca0;
            >img:first-child {
                display: none;                
            }
            img.a-img {
                display: block;
            }
        }
    }
}
.event-details {
    .bar.bar-header {
        background:none;
        .top-header {
            background:none;
        }
    }
    .list {
        .item {
            padding: 0;
            background: none;
            border: none;
            .event-banner {
                position: relative;
                overflow: hidden;
                img {
                    width: 100%;
                }
                span {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    img {
                        width: 2em;
                    }
                }
            }
            .events-info {
                background: #fff;
                padding: 20px;
                h2 {
                    font-weight: 700;
                    font-size: 1.5em;
                    color: #000;
                    font-family: 'Roboto', sans-serif;
                    white-space: normal;
                    margin: 0 0 10px 0;
                }
                h3 {
                    margin: 0 0 20px 0;
                    img {
                        vertical-align: middle;
                        display: inline-block;
                        width: 1em;
                    }
                    span {
                        vertical-align: middle;
                        display: inline-block;
                        font-weight: 700;
                        font-size: 1em;
                        color: #0173f8;
                        font-family: 'Roboto', sans-serif;
                        text-transform: uppercase;
                    }
                }
                .time {
                    position: relative;
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                    color: #000;
                    margin: 0 0 20px 0;
                    span {
                        float: left;
                        background: #fff;
                        position: relative;
                        padding-right:10px; 
                        z-index: 9;
                        &:last-child {
                            float: right;
                            padding: 0 0 0 10px; 
                        }
                    }
                    img {
                        width: 1.5em;
                        position: relative;
                        z-index: 9;
                        margin-top: 2px;
                    }
                    &:after {
                        background: #0173f8;
                        position: absolute;
                        content: "";
                        height: 1px;
                        width: 100%;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        pointer-events: none;
                    }
                }
                h4 {
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin: 0 0 10px 0;
                }
                p {
                    color: #000; 
                    white-space: normal;
                    margin-bottom: 20px;
                }
            }
            .venue-info {
                margin: 15px;
                h2 {
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin: 0 0 10px 0;
                    a {
                        background: url(../assets/images/ic_right_arrow.png) no-repeat right center;
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 18px 0 0;
                        margin: 0 10px 0 0;
                        background-size: 8px auto;
                    }
                    span {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                .venue-img {
                    background: #000;
                    position: relative;
                    overflow: hidden;
                    h3 {
                        font-family: 'Roboto', sans-serif;
                        font-size: 18px;
                        font-weight: 400;
                        color: #fff;
                        position: absolute;
                        left: 20px;
                        top: 20px;
                    }
                    span {
                        background: url(../assets/images/ic_venue_close.png) no-repeat left center;
                        color: #fff;
                        display: block;
                        position: absolute;
                        left: 20px;
                        bottom: 20px;
                        line-height: normal;
                        font-size: 12px;
                        padding: 0 0 0 24px;
                        background-size: 14px auto;
                    }
                    img {
                        width: 100%;
                        float: left;
                    }                    
                }
            }
            .location-info {
                background: #eb5270;
                padding: 10px 20px;
                p {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0;
                    white-space: normal;
                    width: 70%;
                    img {
                        width: 30px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                    span {
                        display: inline-block;
                        vertical-align: middle;
                        color: #fff;
                        width:70%;
                    }
                    strong {
                        color: #fff;
                    }
                    &:last-child {
                        width: 30%;
                    }
                }
            }
        }
    }
}
.edit-profile {
    .list {
        margin-bottom: 50px;
        .item {
            padding-left: 16px;
            h2 {
                margin-bottom: 10px;
                font-size: 12px;
            }
            .upload-photo, .take-photo {
                background: #e3e8fe;
                float: none;
                color: #0173f8;
                display: inline-block;
                padding: 10px 0;
                text-align: center;
                width: 110px;
                text-transform: uppercase;
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 14px;
                float: left;
            }
            .take-photo {
                background: #0173f8;
                color: #ffffff;
                float: right;
            }
            label {
                margin-bottom:10px; 
            }
            input[type="text"], input[type="email"], textarea {
                border-bottom:2px solid #ccc;
                width: 100%;
                margin: 10px 0 20px 0;
                color: #0173f8;
                font-family: 'Roboto', sans-serif;
            }
            textarea {
                resize: none;
            }
            .gender-wrap {
                border-bottom:2px solid #ccc;
                width: 100%;
                margin-bottom: 20px;
                text-align: center;
                position: relative;
                &:after {
                    background: #ccc;
                    position: absolute;
                    left: 50%;
                    bottom: 15px;
                    content: "";
                    width: 2px;
                    height: 30px;
                    transform: translateX(-50%);
                }
                .radio-custom {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 20px 40px;
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;
                    input[type="radio"] {
                        opacity: 0;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;                        
                        &:checked + label:after {
                            background: #ccc;
                            position: absolute;
                            left: 10px;
                            top: 50%;
                            content: "";
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    label {
                        font-size: 16px;
                        padding-left: 30px;
                        position: relative;
                        &:before {
                            border: 2px solid #ccc;
                            position: absolute;
                            left: 6px;
                            top: 50%;
                            content: "";
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
        .item-avatar {
            padding-left: 110px;
        }
    }
}
.article-details {
    .list {
        .item {
            .like {
                margin-bottom: 20px;
                color: #ef8ca0;
                font-size: 14px;
                strong {
                    font-weight: 700;
                    text-transform: uppercase;
                }
                span {
                    color: #666;
                }
            }
            p {
                margin-bottom: 20px;
            }
        }
        .item-thumbnail-left {
            padding-left: 110px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            padding-top: 20px;
            &:after {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 30px 30px 30px;
                border-color: transparent transparent #ffffff transparent;
                position: absolute;
                left: 50%;
                bottom: 0;
                content: "";
                transform: translateX(-50%);
            }
            >img {
                border: 1px solid #fff;
                border-radius: 5px;
            }
            h2 {
                color: #fff;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
            }
            p {
                font-family: 'Roboto', sans-serif;
                white-space: normal;
                color: rgb(224, 224, 224);
            }
            a {
                float: right;
                width: 30px;
                margin-right: 10px;
                img {
                    width: 100%;
                }
            }
        }
        .item-avatar {
            background:#fff; 
            padding-left: 140px;
            height: 140px;
            >img {
                width: 100px;
                height: 100px;
                max-width: none;
                max-height: none;
            }
            h2 {
                color: #000;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                margin-top: 30px;
            }
        }
    }
}
.venue-wrap {
    .list {
        .item {
            .venue-info {
                margin: 0;
            }
            .amenities, .vibe {
                li {
                    display: inline-block;
                    padding: 0 10px 20px 14px;
                    font-size: 14px;
                    position: relative;
                    vertical-align: middle;
                    &:before {
                        background:rgba(1, 115, 248, 0.5);
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                        position: absolute;
                        left: 0;
                        top: 5px;
                        content: "";
                    }
                }
            }
            .vibe {
                li {
                    &:before {
                        background: rgba(235, 82, 112, 0.5);
                    }
                }
            }
            .events-img {
                width: 110px;
                display: inline-block;
                margin-right: 10px;
                img {
                    width: 100%;
                }
            }
        }
    }
}
.date-list {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 13px 10px;
    overflow: hidden;
    width: 100%;
    li {
        width: 14.28%;
        float: left;
        span {
            display: block;
        }
        strong {
            display: block;
            font-weight: 700;
            font-size: 2em;
        }
    }
    .selected {
        color: #ef8ca0;
    }
}
.top-tab {
    .top-header {
        background: none;
    }
    .tab-wrap {
        overflow: hidden;
        width: 100%;
        li {
            color: #fff;
            float: left;
            width: 33.33%;
            text-align: center;
            text-transform: uppercase;
            border-bottom: 5px solid #0173f8;
            padding: 20px 0;
        }
        .active {
            border-bottom-color:  #ef8ca0;
            font-weight: 700;
        }
    }
}