<ion-view hide-nav-bar="false" view-title="Your Alerts" class="signup">



    <ion-nav-buttons side="right">
        <button class="search-top" ng-click="ShowSearch()">search</button>
    </ion-nav-buttons>
  
    <ion-nav-title>
        Your Alerts
    </ion-nav-title>


  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->

    <div class="list">
      <div class="item"><h3>notifications are ordered by recent</h3></div>
      <div class="item">
          <div class="alerts-box">
              <img src="main/assets/images/ic_no_alerts.png" alt="" />
              <span>You haven't received any alerts yet.</span>
          </div>
      </div>
    </div>






  </ion-content>
</ion-view>
