<ion-view hide-nav-bar="false" view-title="" class="pro-list">


  <ion-nav-buttons side="left">
    <span class="city-search">manhattan, new york</span>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="search-top" ng-click="ShowSearch()">search</button>
  </ion-nav-buttons>



  <div class="bar bar-subheader">
    <div class="myslides">
      <ks-swiper-container loop="false" show-nav-buttons="false" slides-per-view="3" space-between="5" pagination-clickable="true">
        <ks-swiper-slide>
          <button>
            featured events
          </button>
        </ks-swiper-slide>
        <ks-swiper-slide>
          <button>
            pizza
          </button>
        </ks-swiper-slide>
        <ks-swiper-slide>
          <button>
            happy hour
          </button>
        </ks-swiper-slide>
        <ks-swiper-slide>
          <button>
            venues
          </button>
        </ks-swiper-slide>
      </ks-swiper-container>
    </div>

  </div>




  <!-- do you want padding? -->
  <ion-content class="has-subheader">

    <!-- content goes here -->
    <!-- content goes here -->
    <div class="list">
      <div class="pro-banner" ng-if="$index == 0" ng-repeat="articles in ctrl.response track by $index">
        <h2>{{articles.title}}
          <span>{{articles.created_on | date : "dd MMM y" }}</span>
        </h2>
        <strong>{{articles.author.name}}</strong>
        <a>
          <img ng-src="main/assets/images/ic_favorite_heart_selected.png" alt="" />
          <span>{{articles.likes_count}} likes</span>
        </a>
      </div>
      <div class="item item-thumbnail-left" ng-if="$index >= 1" ng-repeat="articles in ctrl.response track by $index" ng-click="ctrl.getArticleDetails(articles._id)">
        <img ng-src="{{articles.image}}" alt="" />
        <h3>{{articles.title}}</h3>
        <h4>BY: {{articles.author.name}}</h4>
        <a>
          <i class="ion-android-favorite"></i>
          <span>{{articles.likes_count}}</span>
        </a>
      </div>
    </div>


  </ion-content>
</ion-view>