<ion-view view-title="Change Password" class="signup info-wrap for-pas">
  <ion-nav-buttons side="left">
    <button ng-click="ctrl.goBack()">
      <i class="icon ion-ios-arrow-back"></i>
      <span>Back</span>
    </button>
  </ion-nav-buttons>
  <!-- do you want padding? -->
  <form name="changePassForm" novalidate>
    <ion-content class="padding">

      <!-- content goes here -->
      <div class="list">
        <div class="item">
          <h1>Enter New
            <br />Password</h1>
        </div>
        <div class="item">
          <h2>Please enter your
            <br />new password</h2>
        </div>
        <div class="item">
          <div class="user-form">
            <input type="password" name="oldPass" placeholder="Old Password" ng-model="ctrl.oldPass" ng-minlength="6" required/>
            <span style="color:red" ng-show="changePassForm.oldPass.$dirty && changePassForm.oldPass.$invalid">
              <span ng-show="changePassForm.oldPass.$error.required">Old password required</span>
            </span>
            <span style="color:red" ng-show="changePassForm.oldPass.$error.minlength">
              Old password length atleast 6 characters</span>
            </span>
            <input type="password" name="newPass" placeholder="New Password" ng-model="ctrl.newPass" ng-minlength="6" required/>
            <span style="color:red" ng-show="changePassForm.newPass.$dirty && changePassForm.newPass.$invalid">
              <span ng-show="changePassForm.newPass.$error.required">New password required</span>
            </span>
            <span style="color:red" ng-show="changePassForm.newPass.$error.minlength">
              New password length atleast 6 characters</span>
            </span>
            <input type="password" name="confirmPass" placeholder="Confirm Password" ng-model="ctrl.confirmPass" ng-minlength="6" required/>
            <span style="color:red" ng-show="changePassForm.confirmPass.$dirty && changePassForm.confirmPass.$invalid">
              <span ng-show="changePassForm.confirmPass.$error.required">Confirm password required</span>
            </span>
            <span style="color:red" ng-show="changePassForm.confirmPass.$error.minlength">
              Confirm password length atleast 6 characters</span>
            </span>
          </div>
        </div>
      </div>

    </ion-content>
    <ion-footer-bar class="hide-on-keyboard-open">
      <div class="profile-bottom">
        <button ng-click="ctrl.changePassword()" class="profileButton" ng-disabled="changePassForm.$invalid">Change</button>
      </div>
    </ion-footer-bar>
  </form>
</ion-view>