<ion-view hide-nav-bar="false" view-title="Event Details" class="event-details" hide-back-button="true">

  <ion-nav-buttons side="left" id="ben-header">
    <button ng-click="ctrl.goBack()">
      <i class="icon ion-ios-arrow-back"></i>
      <span>Back</span>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right" id="ben-header">
    <button class="share-top">Share</button>
    <button class="favorite-top" ng-show="!ctrl.isFavoriteActive" ng-click="ctrl.activeFavorite()">Favorite</button>
    <button class="favorite-top activated" ng-if="ctrl.isFavoriteActive" ng-click="ctrl.activeFavorite()">Favorite</button>
  </ion-nav-buttons>

  <ion-nav-title id="ben-header">
    Event Details
  </ion-nav-title>
  <!-- do you want padding? -->
  <ion-content class="no-padding" id="myFunction">

    <!-- content goes here -->
    <ion-list>
      <ion-item>
        <div class="event-banner">
          <img src="main/assets/images/ic_request_birthday_banner.jpg" alt="" />
          <span ng-click="ctrl.openModal($event)">
            <img src="main/assets/images/ic_expand.png" alt="" />
          </span>
        </div>
      </ion-item>
      <!-- <div ng-show="ctrl.isTopImagVisible">
          <ion-item>
              <div class="event-banner">
                <img src="main/assets/images/ic_request_birthday_banner.jpg" alt="" />
              </div>
            </ion-item>
      </div> -->
      <ion-item>
        <div class="events-info">
          <h2>Half off all signature cocktails</h2>
          <h3>
            <img src="main/assets/images/ic_map_marker_blue.png" alt="" />
            <span>blondies sports</span>
          </h3>
          <div class="time">
            <span>Start at 11:30 am</span>
            <img src="main/assets/images/ic_clock.png" alt="" />
            <span>Ends at 12:00 pm</span>
          </div>
          <h4>what to expect</h4>
          <p>HAPPY HOUR
            <br/> MONDAY TO FRIDAY 5:00pm - 8:00pm
            <br/> Half off on Signature Cocktails. $4 beers - $5
            <br/> sangria & Wine</p>
        </div>
      </ion-item>
      <ion-item>
        <div class="venue-info">
          <h2>
            <a ui-sref="venue.info">view more</a>
            <span>venue information</span>
          </h2>
          <div class="venue-img">
            <h3>Baker Street Pub</h3>
            <span>Opens in 1 hours
              <br/> 11:00 AM - 4:00 AM</span>
            <img src="main/assets/images/splash_gradient_mask.png" alt="" />
          </div>
          <div class="location-info">
            <p>
              <img src="main/assets/images/ic_map_marker.png" alt="" />
              <span>1152 1st Avenue, New York, NY 10065, USA</span>
            </p>
            <p>
              <img src="main/assets/images/ic_phone.png" alt="" />
              <strong>CALL</strong>
            </p>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="events-info">
          <h4>Description</h4>
          <p>Busy Irish pub with football (American &
            <br/> international versions) on flat-screens plus trivia
            <br/> night
          </p>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
