
<ion-view  hide-nav-bar="true" view-title="List" class="pro-list">


    <div class="bar bar-header bar-assertive">

        <div class="top-header">
            <span>manhattan, new york</span>
            <ul>
              <li><img src="main/assets/images/ic_calendar.png" alt="" /></li>
              <li><img src="main/assets/images/ic_map_unactive.png" alt="" /></li>
              <li><img src="main/assets/images/ic_search.png" alt="" /></li>
            </ul>
        </div>

    </div>

    </div>
     <div class="bar bar-subheader">
        <div class="myslides">
            <ks-swiper-container loop="false" show-nav-buttons="false" slides-per-view="3" space-between="5" pagination-clickable="true">
                <ks-swiper-slide>
                    <button>
                      featured events
                   </button>
                </ks-swiper-slide>
                <ks-swiper-slide>
                  <button>
                    pizza
                 </button>
              </ks-swiper-slide>
              <ks-swiper-slide>
                <button>
                  happy hour
               </button>
            </ks-swiper-slide>
            <ks-swiper-slide>
              <button>
                venues
             </button>
          </ks-swiper-slide>
            </ks-swiper-container>
        </div>

     </div>
    

  <ion-content class="has-subheader">



    <!-- content goes here -->
    <div class="list">
        <div class="item item-avatar" ui-sref="eventDetails">
          <img src="main/assets/images/ic_default_user_photo.png" alt="" />
          <h2>prohibition</h2>
          <p>Back off, man. I'm a scientist. Back off, man. man. I'm a scientist. Back off, man. I'm a.</p>
          <a><i class="ion-android-favorite"></i> <span>1</span></a>
        </div>
        <div class="item item-avatar">
          <img src="main/assets/images/ic_default_user_photo.png" alt="" />
          <h2>prohibition</h2>
          <p>Back off, man. I'm a scientist. Back off, man. man. I'm a scientist. Back off, man. I'm a.</p>
          <a><i class="ion-android-favorite"></i> <span>1</span></a>
        </div>
        <div class="item item-avatar">
          <img src="main/assets/images/ic_default_user_photo.png" alt="" />
          <h2>prohibition</h2>
          <p>Back off, man. I'm a scientist. Back off, man. man. I'm a scientist. Back off, man. I'm a.</p>
          <a><i class="ion-android-favorite"></i> <span>1</span></a>
        </div>
        <div class="item item-avatar">
          <img src="main/assets/images/ic_default_user_photo.png" alt="" />
          <h2>prohibition</h2>
          <p>Back off, man. I'm a scientist. Back off, man. man. I'm a scientist. Back off, man. I'm a.</p>
          <a><i class="ion-android-favorite"></i> <span>1</span></a>
        </div>
        <div class="item item-avatar">
          <img src="main/assets/images/ic_default_user_photo.png" alt="" />
          <h2>prohibition</h2>
          <p>Back off, man. I'm a scientist. Back off, man. man. I'm a scientist. Back off, man. I'm a.</p>
          <a><i class="ion-android-favorite"></i> <span>1</span></a>
        </div>
        <div class="item item-avatar">
          <img src="main/assets/images/ic_default_user_photo.png" alt="" />
          <h2>prohibition</h2>
          <p>Back off, man. I'm a scientist. Back off, man. man. I'm a scientist. Back off, man. I'm a.</p>
          <a><i class="ion-android-favorite"></i> <span>1</span></a>
        </div>
        <div class="item item-avatar">
          <img src="main/assets/images/ic_default_user_photo.png" alt="" />
          <h2>prohibition</h2>
          <p>Back off, man. I'm a scientist. Back off, man. man. I'm a scientist. Back off, man. I'm a.</p>
          <a><i class="ion-android-favorite"></i> <span>1</span></a>
        </div>
        <div class="item item-avatar">
          <img src="main/assets/images/ic_default_user_photo.png" alt="" />
          <h2>prohibition</h2>
          <p>Back off, man. I'm a scientist. Back off, man. man. I'm a scientist. Back off, man. I'm a.</p>
          <a><i class="ion-android-favorite"></i> <span>1</span></a>
        </div>
        <div class="item item-avatar">
          <img src="main/assets/images/ic_default_user_photo.png" alt="" />
          <h2>prohibition</h2>
          <p>Back off, man. I'm a scientist. Back off, man. man. I'm a scientist. Back off, man. I'm a.</p>
          <a><i class="ion-android-favorite"></i> <span>1</span></a>
        </div>
        <div class="item item-avatar">
          <img src="main/assets/images/ic_default_user_photo.png" alt="" />
          <h2>prohibition</h2>
          <p>Back off, man. I'm a scientist. Back off, man. man. I'm a scientist. Back off, man. I'm a.</p>
          <a><i class="ion-android-favorite"></i> <span>1</span></a>
        </div>
      </div>

  </ion-content>
</ion-view>
