<ion-view hide-nav-bar="false" view-title="" class="pro-list">

  <!-- Header start -->


  <ion-nav-buttons side="left">
    <span class="city-search" ng-show="!IsVisibleSerach">manhattan...</span>
    <div class="search-left" ng-show="IsVisibleSerach">
      <button ng-show="IsVisibleSerach" ng-click="closeSearch()">
        <img src="main/assets/images/ic_go_back_arrow.png" alt="" />
      </button>
      <input type="search" id="search" placeholder="Ex. Beer" ng-show="IsVisibleSerach" />
    </div>
  </ion-nav-buttons>


  <ion-nav-buttons side="right">
    <button class="calender-top" ng-click="ShowHide()" ng-show="!IsVisible">
      <strong>{{ctrl.today}}</strong>
    </button>
    <button class="calender-top activated" ng-click="ShowHide()" ng-if="IsVisible">
      <strong>{{ctrl.today}}</strong>
    </button>
    <button class="map-top" ng-click="showMap()" ng-show="!IsMapVisible">map</button>
    <button class="map-top activated" ng-click="showMap()" ng-if="IsMapVisible">map</button>
    <button class="search-top" ng-click="ShowSearch()" ng-show="!IsVisibleSerach">search</button>
  </ion-nav-buttons>

  <!-- <ion-nav-title ng-show="!IsVisibleSerach">
    List
  </ion-nav-title> -->

  <div class="bar bar-subheader" ng-if="!IsVisible">
    <div class="myslides">
      <ks-swiper-container loop="false" show-nav-buttons="false" slides-per-view="3" space-between="5" pagination-clickable="true">
        <ks-swiper-slide ng-click="ctrl.getList('event')">
          <button>
            featured events
          </button>
        </ks-swiper-slide>
        <ks-swiper-slide ng-click="ctrl.getList('pizza')">
          <button>
            pizza
          </button>
        </ks-swiper-slide>
        <ks-swiper-slide ng-click="ctrl.getList('happy')">
          <button>
            happy hour
          </button>
        </ks-swiper-slide>
        <ks-swiper-slide ng-click="ctrl.getList('venue')">
          <button>
            venues
          </button>
        </ks-swiper-slide>
      </ks-swiper-container>
    </div>

  </div>

  <div class="bar bar-subheader" ng-if="IsVisible">
    <ul class="date-list">
      <li ng-class="{selected: $index===ctrl.index}" ng-repeat="dates in ctrl.aryDates track by $index" ng-click="ctrl.calDateSelect($index,dates.day)">
        <span>{{dates.dayName}}</span>
        <strong>{{dates.day}}</strong>
      </li>
    </ul>
  </div>
  <!-- Header end -->
 
  <ion-content class="has-subheader" ng-click="hideKeyBoard()" overflow-scroll="false" scrollbar-x="false">
    <div id="map-div" ng-show="IsMapVisible">
      </div>
    <!-- content goes here -->
    <div class="bgbackdrop" ng-if="IsVisibleSerach">
      <h3>{{searchTxt}}</h3>
    </div>
    <div class="list" ng-if="ctrl.list.length">
      <div class="item item-avatar"ng-click="ctrl.listDetails(list.id)" ng-repeat="list in ctrl.list">
        <img ng-src="{{list.icon}}" alt="" />
        <h2>{{list.name}}</h2>
        <!-- <p>Back off, man. I'm a scientist. Back off, man. man. I'm a scientist. Back off, man. I'm a.</p> -->
        <a>
          <i class="ion-android-favorite"></i>
          <span>1</span>
        </a>
      </div>
    </div>
    <div ng-if="!ctrl.list.length">
      <p>Sorry! No data found...</p>
    </div>

  </ion-content>
</ion-view>