<ion-view view-title="Setting" class="signup info-wrap for-pas">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <div class="list">
        <div class="item">
          <h3>Enter your phone number</h3>
        </div>
        <div class="item">
          
        </div>
        <div class="item">
            <div class="user-form">
                <input type="tel" name="tel" placeholder="Your Number" />
            </div>
        </div>
        <div class="item">
            <p>By Tapping "Send confirmation code" above, <a>Digits by Twitter</a> will send you an SMS to confirm your phone number. On the next screen, you can choose "Resend code" to receive a new SMS or "Call me" to initiate a phone call to confirm your phone number. Message, call & data rates may apply.</p>
        </div>
    </div>

  </ion-content>
</ion-view>
