<ion-view hide-nav-bar="true" view-title="Setting" class="signup for-pas phone">
  <!-- do you want padding? -->
  <ion-content class="padding" has-header="false">

    <!-- content goes here -->
    <div class="list">
        <div class="item">
          <h4>Enter your phone number</h4>
        </div>
        
        <div class="item item-input item-select">
            <div class="input-label">
              India +91
            </div>
            <select>
                <option></option>
                <option>+1</option>
                <option>+2</option>
                <option>+3</option>
            </select>
          </div>


        <div class="item">
            <div class="user-form">
                <input type="tel" name="tel" placeholder="Your Number" />
                <button>Send confirmation code</button>
            </div>
        </div>
        <div class="item">
            <p>By Tapping "Send confirmation code" above, <a>Digits by Twitter</a> will send you an SMS to confirm your phone number. On the next screen, you can choose "Resend code" to receive a new SMS or "Call me" to initiate a phone call to confirm your phone number. Message, call & data rates may apply.</p>
        </div>
    </div>

  </ion-content>
</ion-view>
