<ion-view view-title="Reset Password" class="signup info-wrap for-pas">
  <!-- do you want padding? -->
  <form name="editPassForm" novalidate>
    <ion-content class="padding">

      <!-- content goes here -->
      <div class="list">
        <div class="item">
          <h1>Enter New
            <br />Password</h1>
        </div>
        <div class="item">
          <h2>Please enter your
            <br />new password</h2>
        </div>
        <div class="item">
          <div class="user-form">
            <input type="password" name="newPass" placeholder="New Password" ng-model="ctrl.newPass" ng-minlength="6" required/>
            <span style="color:red" ng-show="editPassForm.newPass.$dirty && editPassForm.newPass.$invalid">
              <span ng-show="editPassForm.newPass.$error.required">New password required</span>
            </span>
            <span style="color:red" ng-show="editPassForm.newPass.$error.minlength">
              New password length atleast 6 characters</span>
            </span>
            <input type="password" name="confirmPass" placeholder="Confirm Password" ng-model="ctrl.confirmPass" ng-minlength="6" required/>
            <span style="color:red" ng-show="editPassForm.confirmPass.$dirty && editPassForm.confirmPass.$invalid">
              <span ng-show="editPassForm.confirmPass.$error.required">Confirm password required</span>
            </span>
            <span style="color:red" ng-show="editPassForm.confirmPass.$error.minlength">
              Confirm password length atleast 6 characters</span>
            </span>
          </div>
        </div>
      </div>

    </ion-content>
    <div class="profile-bottom">
      <button ng-click="ctrl.resetPassword()" class="profileButton" ng-disabled="changePassForm.$invalid">Reset</button>
    </div>
  </form>
</ion-view>