<!--<ion-view view-title="Mr. Yo">
  <!-- do you want padding -->
  <!--<ion-content class="padding">-->

    <!-- content goes here -->
    <!--<img ng-src="main/assets/images/yo@2x.png" style="width: 64px; height: 64px">
    <p>
      Hello My Name is Yo!<br>
      I scaffold apps.<br>
      And I'm really good at it.
    </p>

    <mini
      content="'some content via attribute'">
      Some <span class="green">transcluded</span> content
    </mini>

  </ion-content>
</ion-view>-->



<ion-view view-title="Settings" class="pro-list setting-wrap">
  <!-- do you want padding? -->
  <ion-content class="no-padding">  
    <!-- content goes here -->

    <div class="list">
      <div class="item item-thumbnail-left" ui-sref="edit-profile">
          <img src="main/assets/images/ic_profile.png" alt="" />
          <h2>edit your profile</h2>
          <p>Add pictures, edit your public bio, and username.</p>
          <a>Almost Finished</a>
      </div>
      <div class="item item-thumbnail-left" ui-sref="phone">
          <img src="main/assets/images/ic_vip_star.png" alt="" />
          <h2>verify your phone number</h2>
          <p>Gain access to special VIP events and free stuff.</p>
          <a>Needs Attention</a>
      </div>
      <div class="item item-thumbnail-left" ui-sref="signup-com">
          <img src="main/assets/images/ic_full_heart.png" alt="" />
          <h2>choose your favorites</h2>
          <p>Find whatever is interesting.</p>
          <ul>
            <li><img src="main/assets/images/ic_love_face.png" alt="" /></li>
            <li><img src="main/assets/images/ic_love_face.png" alt="" /></li>
            <li><img src="main/assets/images/ic_love_face.png" alt="" /></li>
          </ul>
      </div>
      <div class="item item-thumbnail-left" ui-sref="change-password">
          <img src="main/assets/images/ic_enter_password.png" alt="" />
          <h2>change password</h2>
          <p>Don't be forgetfull</p>
      </div>
      <div class="item item-thumbnail-left">
          <img src="main/assets/images/ic_rate_us.png" alt="" />
          <h2>rate us</h2>
          <p>Hey there, please take the time to rate us, it would mean a lot!</p>
      </div>
    </div> 

  </ion-content>
</ion-view>

