<ion-view hide-nav-bar="true" class="signin">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <div class="list bounce-animation">
      <div class="item">
        <img src="main/assets/images/hagtap_word_logo.png" alt="" class="full-image" />
      </div>
    </div>
    <div class="list" ng-show="ctrl.isSignInVisible">
      <div class="item">
        <input type="text" placeholder="Username or Email"  name ="uname" ng-model="ctrl.uname">
      </div>
      <div class="item">
        <input type="password" placeholder="Password" name ="upass" ng-model="ctrl.upass">
      </div>
      <div class="item">
        <button class="sign-btn" ng-click="ctrl.signIn()">
          sign in
        </button>
      </div>
      <div class="item">
        <button class="account-btn" ui-sref="signup">
          create an account
        </button>
      </div>
      <div class="item">
        <button class="forgot-btn" ui-sref="forgot-password">
          forgot password?
        </button>
      </div>
    </div>

  </ion-content>
  <div class="facebook-login" ng-click="ctrl.fbSignIn()">
    <img src="main/assets/images/ic_facebook_logo.png" alt="" />
    <span>Sign in with Facebook</span>
  </div>
</ion-view>