<ion-view view-title="Sign Up" class="signup info-wrap">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <div class="list">
      <div class="item">
        <h1>Tap Your<br />Favorites</h1>
      </div>
      <div class="item">
        <h2>Tap whatever moves you,<br />you can always edit later.</h2>
      </div>
      <div class="item">
          <div class="info-box">
            <div class="row">
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
              <div class="col col-25">
                <span><img src="main/assets/images/ic_love_face.png" alt="" /></span>
                <p>hookah</p>
              </div>
            </div>
          </div>
      </div>
    </div>

  </ion-content>
  <div class="profile-bottom">
    <p>must pick at least 3</p>
    <a ui-sref="signup-com">finish</a>
  </div>
</ion-view>
