<ion-tabs class="tabs-icon-top bottom-tab">
  <ion-tab title="explore" icon-off="explore-icon" icon-on="explore-icon" ui-sref="main.list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>
  <ion-tab title="articles" icon-off="articles-icon" icon-on="articles-icon" ui-sref="main.articles">
    <ion-nav-view name="tab-articles"></ion-nav-view>
  </ion-tab>
  <ion-tab title="alerts" icon-off="alerts-icon" icon-on="alerts-icon" ui-sref="main.alerts">
    <ion-nav-view name="tab-alerts"></ion-nav-view>
  </ion-tab>
  <ion-tab title="profile" icon-off="profile-icon" icon-on="profile-icon" ui-sref="main.profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>
</ion-tabs>