<ion-view hide-nav-bar="false" view-title="Venue Profile" class="signup top-tab">

  	<ion-nav-buttons side="left">
        <button ng-click="ctrl.goBack()"><i class="icon ion-ios-arrow-back"></i> <span>Back</span></button>
      </ion-nav-buttons>
    
      <ion-nav-buttons side="right">
        <button class="share-top">Share</button>
        <button class="favorite-top">Favorite</button>
      </ion-nav-buttons>
    
      <ion-nav-title>
        Venue Profile
      </ion-nav-title>

  <!-- do you want padding? -->
  <ion-content class="padding has-subheader">

    <!-- content goes here -->
    <div class="list">
      <div class="item">
        <div class="alerts-box">
          <img src="main/assets/images/ic_event_party.png" alt="" />
          <span>This venue has not been mentioned in any article</span>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>