<ion-view hide-nav-bar="false" view-title="Venue Profile" class="signup tabs-top event-details venue-wrap" hide-back-button="true">

	<ion-nav-buttons side="left">
		<button ng-click="ctrl.goBack()">
			<i class="icon ion-ios-arrow-back"></i>
			<span>Back</span>
		</button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
		<button class="share-top">Share</button>
		<button class="favorite-top" ng-show="!ctrl.isFavoriteActive" ng-click="ctrl.activeFavorite()">Favorite</button>
		<button class="favorite-top activated" ng-if="ctrl.isFavoriteActive" ng-click="ctrl.activeFavorite()">Favorite</button>
	</ion-nav-buttons>

	<ion-nav-title>
		Venue Profile
	</ion-nav-title>

	<!-- do you want padding? -->
	<ion-content class="no-padding">
		<!-- content goes here -->
		<ion-list>
			<ion-item>
				<div class="venue-info" id="ben-header">
					<div class="venue-img">
						<h3>{{ctrl.venueName}}</h3>
						<span>Opens in 1 hours
							<br/> 11:00 AM - 4:00 AM</span>
						<img ng-src="{{ctrl.venueMainImg}}" alt="" class="top-img" />
					</div>
					<div class="location-info">
						<p>
							<img src="main/assets/images/ic_map_marker.png" alt="" />
							<span>{{ctrl.addr}}</span>
						</p>
						<p>
							<img src="main/assets/images/ic_phone.png" alt="" />
							<strong>CALL</strong>
						</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="events-info">
					<h4>Description</h4>
					<p>A Lively Lounge with Jazz Age-themed decor a long cocktail list & free nighty music performances</p>
					<h4>Amenities</h4>
					<ul class="amenities">
						<li>Outdoor Area/Patio</li>
						<li>Multiple TVs</li>
					</ul>
					<h4>Vibe</h4>
					<ul class="vibe">
						<li>Casual</li>
					</ul>
					<h4>venue photo</h4>
					<ion-scroll direction="x" class="wide-as-needed" overflow-scroll="false">
						<div class="events-img" ng-repeat="img in ctrl.OtherImages">
								<img ng-src="{{img.img}}" alt="" style="height: 110px;" />
						</div>
					</ion-scroll>
				</div>
			</ion-item>
		</ion-list>

	</ion-content>
</ion-view>