<ion-view hide-nav-bar="true" view-title="Venue Events" class="signup top-tab">






        <div class="bar bar-header bar-positive" id="ben-header">
                <button class="button back-button buttons button-clear" ng-click="ctrl.goBack()">
                  <i class="icon ion-ios-arrow-back"></i>
                  <span>Backk</span>
                </button>
                <div class="title">Event Details</div>
                <div class="top-header">
                  <ul>
                    <li>
                      <img src="main/assets/images/ic_share.png" alt="" style="width:1.8em;" />
                    </li>
                    <li>
                      <img src="main/assets/images/ic_favorite_heart.png" alt="" />
                    </li>
                  </ul>
                </div>
              </div>



  <div class="bar bar-subheader">
      <ul class="tab-wrap">
          <li class="active">info</li>
          <li>events</li>
          <li>articles</li>
      </ul>
    
      </div>







  <!-- do you want padding? -->
  <ion-content class="no-padding has-subheader event-list">

    <!-- content goes here -->
    <div class="list">
        <div class="item today-event">
           <p>11:30 am, <strong>today</strong></p>
           <h4>Half off all signature cocktails</h4>
        </div>
        <div class="item">
           <p>11:30 am, <strong>today</strong></p>
           <h4>Half off all signature cocktails</h4>
        </div>
        <div class="item">
           <p>11:30 am, <strong>today</strong></p>
           <h4>Half off all signature cocktails</h4>
        </div>
        <div class="item">
           <p>11:30 am, <strong>today</strong></p>
           <h4>Half off all signature cocktails</h4>
        </div>
        <div class="item">
           <p>11:30 am, <strong>today</strong></p>
           <h4>Half off all signature cocktails</h4>
        </div>
        <div class="item">
           <p>11:30 am, <strong>today</strong></p>
           <h4>Half off all signature cocktails</h4>
        </div>
        <div class="item">
           <p>11:30 am, <strong>today</strong></p>
           <h4>Half off all signature cocktails</h4>
        </div>
        <div class="item">
           <p>11:30 am, <strong>today</strong></p>
           <h4>Half off all signature cocktails</h4>
        </div>
      </div>

  </ion-content>
</ion-view>
