<ion-view view-title="Venue Profile" class="signup top-tab event-details venue-wrap">
		<!-- <ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-android-more-vertical" ng-click="openPopover($event)"></button>
			</ion-nav-buttons> -->
	<!-- <div class="bar bar-header bar-positive" id="ben-header">
		<button class="button back-button buttons button-clear" ng-click="ctrl.goBack()">
			<i class="icon ion-ios-arrow-back"></i>
			<span>Backk</span>
		</button>
		<div class="title">Venue Profile</div>
		<div class="top-header">
			<ul>
				<li>
					<img src="main/assets/images/ic_share.png" alt="" style="width:1.8em;" />
				</li>
				<li>
					<img src="main/assets/images/ic_favorite_heart.png" alt="" />
				</li>
			</ul>
		</div>
	</div>
	<div class="bar bar-subheader">
		<ul class="tab-wrap">
			<li ui-sref="venueInfo" class="active">info</li>
			<li ui-sref="VenueEvents">events</li>
			<li ui-sref="VenueArticles">articles</li>
		</ul>
	</div> -->
	<!-- do you want padding? -->
	<ion-content class="no-padding">

		<!-- content goes here -->
		<ion-list>
			<ion-item>
				<div class="venue-info">
					<div class="venue-img">
						<h3>Baker Street Pub</h3>
						<span>Opens in 1 hours
							<br/> 11:00 AM - 4:00 AM</span>
						<img src="main/assets/images/splash_gradient_mask.png" alt="" />
					</div>
					<div class="location-info">
						<p>
							<img src="main/assets/images/ic_map_marker.png" alt="" />
							<span>1152 1st Avenue, New York, NY 10065, USA</span>
						</p>
						<p>
							<img src="main/assets/images/ic_phone.png" alt="" />
							<strong>CALL</strong>
						</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="events-info">
					<h4>Description</h4>
					<p>A Lively Lounge with Jazz Age-themed decor a long cocktail list & free nighty music performances</p>
					<h4>Amenities</h4>
					<ul class="amenities">
						<li>Outdoor Area/Patio</li>
						<li>Multiple TVs</li>
					</ul>
					<h4>Vibe</h4>
					<ul class="vibe">
						<li>Casual</li>
					</ul>
					<h4>venue photo</h4>
					<ion-scroll direction="x" class="wide-as-needed">
						<div class="events-img">
							<img src="main/assets/images/thum-img.jpg" alt="" />
						</div>
						<div class="events-img">
							<img src="main/assets/images/thum-img.jpg" alt="" />
						</div>
						<div class="events-img">
							<img src="main/assets/images/thum-img.jpg" alt="" />
						</div>
						<div class="events-img">
							<img src="main/assets/images/thum-img.jpg" alt="" />
						</div>
						<div class="events-img">
							<img src="main/assets/images/thum-img.jpg" alt="" />
						</div>
						<div class="events-img">
							<img src="main/assets/images/thum-img.jpg" alt="" />
						</div>
						<div class="events-img">
							<img src="main/assets/images/thum-img.jpg" alt="" />
						</div>
						<div class="events-img">
							<img src="main/assets/images/thum-img.jpg" alt="" />
						</div>
						<div class="events-img">
							<img src="main/assets/images/thum-img.jpg" alt="" />
						</div>
						<div class="events-img">
							<img src="main/assets/images/thum-img.jpg" alt="" />
						</div>
						<div class="events-img">
							<img src="main/assets/images/thum-img.jpg" alt="" />
						</div>
						<div class="events-img">
							<img src="main/assets/images/thum-img.jpg" alt="" />
						</div>
					</ion-scroll>
				</div>
			</ion-item>
		</ion-list>

	</ion-content>
</ion-view>